@using Microsoft.AspNetCore.Identity 
@using GoldenTicket.Models
@using GoldenTicket.Data
@inject SignInManager<Technician> SignInManager 
@inject UserManager<Technician> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Golden Ticket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    @RenderSection("Style", required: false)
</head>

<body>
    <nav class="purple darken-4">
        <div class="nav-wrapper purple darken-4 container">
            <a class="brand-logo hide-on-med-and-down"><strong class="amber-text text-darken-2"> The Golden Ticket</strong> </a>
            <ul class="right amber-text text-darken-2">
            @if (SignInManager.IsSignedIn(User)) {
                <li class="nav-item amber-text text-darken-2" >
                    Hello @UserManager.GetUserName(User)!
                </li>
                <li class="nav-item amber-text text-darken-2">
                    <a asp-controller="Account" asp-action="Logout">Log out</a>
                </li>
            } 
            else 
            {
                <li class="nav-item amber-text text-darken-2">
                    <a asp-controller="Account" asp-action="Login">Log in</a>
                </li>
            }
                <li>
                    <a asp-controller="Tickets" asp-action="All">Tickets</a>
                </li>
                <li>
                    <a asp-controller="Clients" asp-action="All">Clients</a>
                </li>
                @if (User.IsInRole(DataConstants.AdministratorRole)) {
                <li>
                    <a asp-controller="Technicians" asp-action="All">Technicians</a>
                </li>
                }
            </ul>
        </div>
    </nav>
    <main class="row container">
        <h1>@ViewData["Title"]</h1>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" crossorigin=" anonymous "></script>
</body>

</html>