@using Microsoft.AspNetCore.Identity 
@using GoldenTicket.Models 
@inject SignInManager<Technician> SignInManager 
@inject UserManager<Technician> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@ViewData["Title"] - Golden Ticket</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> @RenderSection("Style", required: false)
</head>

<body>
  <ul>
  @if (SignInManager.IsSignedIn(User)) 
  {
    <li class="nav-item">
      Hello @UserManager.GetUserName(User)!
    </li>
    <li class="nav-item">
      <a asp-controller="Account" asp-action="Login">Log out</a>
    </li>
  } 
  else 
  {
    <li class="nav-item">
      <a asp-controller="Account" asp-action="Login">Log in</a>
    </li>
  }
    <li>
      <a asp-controller="Tickets" asp-action="All">Tickets</a>
    </li>
    <li>
      <a asp-controller="Clients" asp-action="All">Clients</a>
    </li>
  </ul>

  <h1>@ViewData["Title"]</h1>
  @RenderBody()

  @RenderSection("Scripts", required: false)

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>