@{
    ViewData["Title"] = $"{Model.Client.FirstName} {Model.Client.LastName}";
}
@using GoldenTicket.Models.ClientsViewModels
@using System.Collections.Generic
@model ClientDetails

<h3>Client Details</h3>
<p>
    Name: @Model.Client.FirstName @Model.Client.LastName <br>
    Company: @Model.Client.Company <br>
    Phone: @Model.Client.PhoneNumber <br>
    Email: @Model.Client.EmailAddress <br>
    Address: @Model.Client.Address <br>
    Date Added: @Model.Client.DateAdded.ToString("d")
</p>

<h3>Open Tickets: @Model.OpenTicketCount</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Date Added</th>
        <th>Urgent</th>
    </tr>
    @foreach (var ticket in Model.Tickets) {
    <tr>
        <th>
            <a asp-action="Open" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title</a>
        </th>
        <th>@ticket.DateAdded.ToString("d")</th>
        @if (ticket.IsUrgent) {
        <th>&#10004;</th>
        }
        else
        {
        <th></th>
        }
    </tr>
    }
</table>