@{
    ViewData["Title"] = Model.Ticket.Title;
}
@using GoldenTicket.Models.TicketsViewModels
@using System.Collections.Generic
@using System.Linq
@model TicketDetails

@if (Model.Ticket.IsUrgent) {
    <h3 style="background-color: red">URGENT</h3>
}

<h3>Ticket Details</h3>
<p>
    Complexity: @Model.Ticket.Complexity <br>
    Date Added: @Model.Ticket.DateAdded <br>
    Status: @(Model.Ticket.Open ? "Open" : "Closed") <br>
    Description: @Model.Ticket.Description <br>
    Notes: @Model.Ticket.Notes <br>
    <a asp-action="Edit" asp-route-id="@Model.Ticket.Id">Edit</a>
</p>

<h3>Client Details</h3>
<p>
    Name: @Model.Client.FirstName @Model.Client.LastName <br>
    Company: @Model.Client.Company <br>
    Phone: @Model.Client.PhoneNumber <br>
    Email: @Model.Client.EmailAddress <br>
    <a asp-controller="Clients" asp-action="Open" asp-route-id="@Model.Client.Id">More Info</a>
</p>

<h3>Technician Times: @Model.Times.Sum(time => (time.Time.End - time.Time.Start).TotalHours).ToString("F2") Hours</h3>
<table>
    <tr>
        <th>Technician</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    @foreach (var time in Model.Times) {
    <tr>
        <th>@time.Technician.FirstName @time.Technician.LastName</th>
        <th>@time.Time.Start</th>
        <th>@time.Time.End</th>
    </tr>
    }
</table>